.head {
    -fx-background-color: #576aca;
}
.label1 {
    -fx-font-weight: bold;
}

.text-field {
  -fx-background-color: #C6CCEA;
  -fx-background-radius: 8px;
  -fx-border-radius: 8px;
  -fx-border: none;
  -fx-prompt-text-fill: #F8F8FF;
  -fx-padding: 8px 10px;
  -fx-font-size: 16px;
  -fx-text-fill: #fefefe;
}

.text-field:hover {
  -fx-background-color: #A3B1F8;
}

.text-field.error {
  -fx-border-color: #E07676;
  -fx-border-width: 1px;
}

.submit-button {
  -fx-background-color: #576aca;
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-padding: 10px 20px;
  -fx-border: none;
  -fx-background-radius: 8px;
  -fx-border-radius: 8px;
  -fx-cursor: hand; /* Thay đổi con trỏ chuột khi hover */
  -fx-transition: all 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
}

.submit-button:hover {
  -fx-background-color: #4d5fac; /* Màu nền đậm hơn khi hover */
  -fx-text-fill: white;
}

.submit-button:pressed {
  -fx-background-color: #404a93; /* Màu nền đậm hơn nữa khi click */
}



.check-box {
  -fx-font-size: 14px; /* Thay đổi kích thước font chữ */
  -fx-text-fill: #505050; /* Thay đổi màu chữ */
  -fx-tristate-color: #576aca; /* Thay đổi màu khi ở trạng thái "tristate" (không xác định) */
}

.check-box .box {
  -fx-background-color: #f2f2f2; /* Thay đổi màu nền của box */
  -fx-border-color: #576aca; /* Thay đổi màu viền của box */
  -fx-border-radius: 3px; /* Bo tròn góc box */
}

.check-box:hover .box {
  -fx-background-color: #e0e0e0; /* Thay đổi màu nền khi hover */
}
.error-label {
  -fx-background-color: #ffdddd; /* Nền đỏ nhạt */
  -fx-text-fill: #ff0000; /* Chữ màu đỏ */
}

.notifi {
    -fx-background-color: #f2f2f2;
}

.hyperlink {
  -fx-text-fill: #576aca; /* Thay đổi màu chữ hyperlink thành màu xanh */
}
