.rightSign{
    -fx-background-color: #576aca;
}
.leftSign{
    -fx-background-color: #576aca;
}
.sign{
    -fx-background-color: #fefefe;
    -fx-background-radius: 15;
    -fx-padding: 20px;
}

.root{
    -fx-background-color: #576aca;
}

.text-field {
  -fx-background-color: transparent; /* Loại bỏ nền mặc định */
  -fx-border-color: #ccc; /* Màu viền xám nhạt */
  -fx-border-width: 1px; /* Độ dày viền */
  -fx-border-radius: 7px; /* Bo tròn góc */
  -fx-padding: 10px; /* Khoảng cách giữa viền và nội dung */
  -fx-font-size: 16px; /* Cỡ chữ */
  -fx-text-fill: #333; /* Màu chữ */
  -fx-prompt-text-fill: #999; /* Màu chữ gợi ý */
  -fx-focus-color: #007bff; /* Màu viền khi focus */
}

.text-field:focused {
  -fx-border-color: #007bff; /* Màu viền xanh khi focus */
  -fx-border-width: 1px; /* Độ dày viền khi focus */
  -fx-border-radius: 7px; /* Bo tròn góc khi focus */
  -fx-prompt-text-fill: transparent; /* Ẩn chữ gợi ý khi focus */
}

.text-field:hover {
  -fx-border-color: #0056b3; /* Màu viền đậm hơn khi hover */
}

.text-field:error {
  -fx-border-color: #dc3545; /* Màu viền đỏ khi lỗi */
}

#signInButton {
  -fx-background-color: #5C72DF; /* Màu xanh dương */
  -fx-text-fill: white; /* Màu chữ trắng */
  -fx-font-size: 16px; /* Kích thước chữ */
  -fx-padding: 10px 20px; /* Khoảng cách lề trong */
  -fx-border-radius: 5px; /* Bo góc */
  -fx-cursor: hand; /* Biểu tượng chuột khi di chuột qua */
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Hiệu ứng đổ bóng */
}

#signInButton:hover {
  -fx-background-color: #576aca; /* Màu xanh đậm hơn khi di chuột qua */
}

#signInButton:pressed {
  -fx-background-color: #0062cc; /* Màu xanh đậm nhất khi nhấn */
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 2, 0, 0, 1); /* Hiệu ứng đổ bóng khi nhấn */


}.password-field {
     -fx-echo-char: '•'; /* Ký tự mặc định để ẩn mật khẩu */
 }

 .password-field.show-password {
     -fx-echo-char: null; /* Không ẩn mật khẩu */
 }
 .custom-alert .header-panel {
     -fx-text-fill: #576aca;
     -fx-font-size: 18px;
     -fx-font-weight: bold;
 }

 .custom-alert .content {
     -fx-text-fill: black;
     -fx-font-size: 14px;
     -fx-padding: 10px;
 }
